node_modules/
qa-tests/report.html

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
playwright-report/
playwright-report/
test-results/
playwright-tests/test-results/
playwright-tests/playwright-report/
