
.footer {
  background-color: hsl(0, 0%, 13%);
  padding: 4rem 0;
  text-align: center;
  width: 100%;
  padding: 10px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.left {
  flex: 1;
  margin-right: 2rem;
}

.location {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.phone h4, .email h4 {
  margin: 0.5rem 0;
}

.right {
  flex: 1;
}

h4 {
  font-weight: bold;
}

.social {
  margin-top: 1rem;
}

.social a {
  text-decoration: none;
}

.our-social {
  color: #008000;
}

.rectangle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #007bff;
  border-radius: 5px;
}


.copyright {
  margin-top: 1rem;
  font-size: 14px;
  opacity: 0.7;
}


.copyright p {
  text-align: center;
}


.copyright p::before {
  content: '❤️';
  margin-right: 5px;
}

@media screen and (max-width: 768px) {
  .footer-container {
      flex-direction: column; 
  }
  
  .left {
      flex: none; 
      margin-right: 0;
  }
  
  .right {
      flex: none;
  }
}
